@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

.intro {
  background: linear-gradient(black, navy);
}

.services {
  background: linear-gradient(black, navy);
}

.finish {
  background: linear-gradient(black, navy);
}

.section {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image {
  width: 300px;
  height: 300px;
  border: 4px solid #5ce2ff;
  border-radius: 50%;
}

.tentang {
  width: 180px;
  border: 4px solid #06090a;
  height: 290px;
  border-radius: 10%;
}

.media_social {
  font-size: 30px;
  color: white;
  margin-left: 10px;
  margin-right: 10px;
  transition: 0.5s;
}
